* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: hsl(40,25%,95.29%);
    --action: hsl(38.84,84.82%,56.08%);
}

section {
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.widget-card {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.widget__title {
    font-weight: bold;
}

.widget__radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input::selection {
    color: var(--action);
}

#radio1, #radio2, #radio3 {
    accent-color: var(--action);
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px 25px;
    border: none;
    background-color: var(--bg);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.btn-action {
    background-color: var(--action);
}
