* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: hsl(210,13.33%,94.12%);
    --accent: hsl(30,72.62%,67.06%);
    --action: hsl(224.29,37.5%,21.96%);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 350px;
    background-color: white;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(128, 128, 128, 0.356);
    position: relative;
}

.description {
    max-width: 36ch;
    font-size: .9em;
}

.promo {
    color: var(--accent);
}

button {
    padding: 15px 30px;
    background-color: var(--action);
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.close {
    position: absolute;
    cursor: pointer;
    top: 10%;
    right: 10%;
    color: gray;
    font-size: 1.2em;
}