* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "system-ui", sans-serif;
}

:root {
    --bg: hsl(220,42.86%,97.25%);
    --bg-card1: hsl(38.14,71.08%,67.45%);
    --bg-card2: hsl(356.47,40.96%,67.45%);
    --bg-card3: hsl(190.4,72.12%,59.22%);
    --bg-card4: hsl(212.37,71.7%,58.43%);
}

section {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.map-container {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.center {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: .9em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 5;
}

.map__extra1 {
    background-color: hsl(27.27,35.48%,93.92%);
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card1);
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 5;
}

.map__extra2 {
    background-color: hsl(340,35.29%,93.33%);
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card2);
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 5;
}

.map__extra3 {
    background-color: hsl(161.05,48.72%,92.35%);
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card3);
    position: absolute;
    top: 30%;
    right: 15%;
}

.map__extra4 {
    background-color: hsl(215.45,61.11%,92.94%);
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card4);
    position: absolute;
    top: 65%;
    right: 20%;
}

.map__extra5 {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card4);
    position: absolute;
    top: 50%;
    right: 1%;
}

.map__extra6 {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card4);
    position: absolute;
    top: 60%;
    right: 1%;
}

.map__extra7 {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid var(--bg-card4);
    position: absolute;
    top: 70%;
    right: 1%;
}

/* Linked lines */

/* .linked-line1 {
    --size: 150px;

    position: absolute;
    top: 44%;
    left: 20%;
    width: var(--size);
    height: var(--size);
    border: 1.5px dashed var(--bg-card2);
    border-radius: 50%;
    z-index: 1;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
} */