* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: hsl(223.64,40.74%,94.71%);
    --bg-card: hsl(0,0%,100%);
    --warning: hsl(7.59,67.52%,54.12%);
    --action: hsl(157.94,71.58%,37.25%);
    --accent: hsl(237.5,16%,70.59%);
    --accent-secondary: hsl(230.77,52%,95.1%);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    padding: 20px;
}

.card-container {
    max-width: 450px;
    width: 100%;
    background-color: var(--bg-card);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 40px 20px var(--accent-secondary);
}

.call__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.missed-call {
    display: flex;
    gap: 10px;
}

.missed-call i {
    color: var(--warning);
    font-size: 1.4em;
}

.missed-call__text {
    font-weight: bold;
    font-size: 1em;
}

.close-container {
    border: 1px solid var(--accent);
    /* padding: 10px; */
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.close-container i {
    font-size: 1.4em;
    color: var(--accent);
    cursor: pointer;
}

/* Content */

.call__body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.call__content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.call__media-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--accent-secondary);
    overflow: hidden;
    border: 8px solid var(--accent-secondary);
}

.call__media {
    width: 100%;
}

.call__content-wrapper {
    font-size: .9em;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.call__description {
    line-height: 1.2em;
}

.call__description span {
    font-weight: bold;
}

.call__hours {
    font-size: .8em;
}

/* Buttons */

.buttons-wrapper {
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 15px;
    font-size: .8em;
    cursor: pointer;
}

.btn--outline {
    border: 1px solid var(--accent);
    border-radius: 5px;
    width: 50%;
}

.btn--primary {
    background-color: var(--action);
    color: white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0px 10px 10px -9px var(--action);
}

/* Responsive */

@media (width < 400px) {
    .call__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .call__content-wrapper {
        align-items: center;
    }
    
    .call__description {
        text-align: center;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn--outline, .btn--primary {
        width: 100%;
    }
}